node-red_subflow
[{"id":"68464e27f5fa2ffa","type":"subflow","name":"Alexa Fala Frase SQL","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"c80b406b06d35cf1"}]}],"out":[{"x":1280,"y":500,"wires":[{"id":"9e57006d36f8eb75","port":0}]}],"env":[{"name":"categoria","type":"str","value":"1","ui":{"label":{"pt-BR":"Categoria"},"type":"select","opts":{"opts":[{"l":{"pt-BR":"Agradecimentos"},"v":"1"},{"l":{"pt-BR":"Alarme Armado"},"v":"2"},{"l":{"pt-BR":"Boa Noite"},"v":"3"},{"l":{"pt-BR":"Boas Vindas"},"v":"4"},{"l":{"pt-BR":"Confirmacoes"},"v":"5"},{"l":{"pt-BR":"Despedidas"},"v":"6"},{"l":{"pt-BR":"Erros"},"v":"7"},{"l":{"pt-BR":"Feliz Natal"},"v":"8"}]}}},{"name":"pessoa","type":"str","value":"felipe","ui":{"label":{"pt-BR":"Nome"},"type":"select","opts":{"opts":[{"l":{"pt-BR":"Felipe"},"v":"felipe"},{"l":{"pt-BR":"Raissa"},"v":"raíssa"},{"l":{"pt-BR":"Ambos"},"v":"felipe e raíssa"},{"l":{"pt-BR":"Nenhum"},"v":" "}]}}},{"name":"echo","type":"str","value":"media_player.echo_01","ui":{"type":"select","opts":{"opts":[{"l":{"pt-BR":"Last Alexa"},"v":"last_alexa"},{"l":{"pt-BR":"Um"},"v":"media_player.echo_01"},{"l":{"pt-BR":"Dois"},"v":"media_player.echo_02"},{"l":{"pt-BR":"Três"},"v":"media_player.echo_03"},{"l":{"pt-BR":"Quatro"},"v":"media_player.echo_04"},{"l":{"pt-BR":"Cinco"},"v":"media_player.echo_05"},{"l":{"pt-BR":"Seis"},"v":"media_player.echo_06"},{"l":{"pt-BR":"Sete"},"v":"media_player.echo_07"},{"l":{"pt-BR":"Oito"},"v":"media_player.echo_08"},{"l":{"pt-BR":"Nove"},"v":"media_player.echo_09"},{"l":{"pt-BR":"Casa toda"},"v":"media_player.casa_toda"}]}}},{"name":"normais","type":"bool","value":"true","ui":{"label":{"pt-BR":"Normais"},"type":"checkbox"}},{"name":"engracadas","type":"bool","value":"false","ui":{"label":{"pt-BR":"Engraçadas"},"type":"checkbox"}},{"name":"sarcasticas","type":"bool","value":"true","ui":{"label":{"pt-BR":"Sarcásticas"},"type":"checkbox"}},{"name":"saida","type":"str","value":"falada","ui":{"label":{"pt-BR":"Saida"},"type":"select","opts":{"opts":[{"l":{"pt-BR":"Anúncio"},"v":"announce"},{"l":{"pt-BR":"Texto"},"v":"frase"},{"l":{"pt-BR":"TTS"},"v":"tts"}]}}}],"meta":{},"color":"#20B2AA","icon":"node-red-contrib-alexa-home/alexa-home.png"},{"id":"78e29f0334ad5e53","type":"function","z":"68464e27f5fa2ffa","name":"Resgata node.Id","func":"msg.nodeId = node.id;  // Armazena o ID do nó\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":120,"wires":[["06ce7cd25f0a515c"]]},{"id":"06ce7cd25f0a515c","type":"function","z":"68464e27f5fa2ffa","name":"consulta por classe e categoria","func":"// Resgatar as variáveis de entrada via env() ou msg\nconst categoria = env.get('categoria') || msg.categoria || \" \";\n///const not_subcat = env.get('not_subcat') || msg.not_subcat || \"Normais\";\nconst nodeId = node.id;\nmsg.pessoa = env.get('pessoa') || \" \";\nmsg.saida = env.get('saida') || \"tts\";\nmsg.echo = env.get('echo') || \"last_alexa\";\n\n// Adiciona as variáveis no msg para que possam ser usadas nos próximos nós\nmsg.categoria = categoria;\n//msg.not_subcat = not_subcat;\nmsg.nodeId = nodeId;\n\n// Capturar o ID da categoria diretamente da UI (categoria já possui o valor do id)\nconst categoriaId = env.get('categoria') || msg.categoria || 1;  // Definindo o ID da categoria\n\n// Definir dinamicamente os IDs das classes com base na UI (marcação true/false)\nlet classeIds = [];\nif (env.get('normais') === true) {\n    classeIds.push(1); // Classe 'Normais'\n}\nif (env.get('engracadas') === true) {\n    classeIds.push(2); // Classe 'Engraçadas'\n}\nif (env.get('sarcasticas') === true) {\n    classeIds.push(3); // Classe 'Sarcásticas'\n}\n\n// Se nenhuma classe for selecionada, definir uma classe padrão\nif (classeIds.length === 0) {\n    classeIds.push(1); // Valor padrão: 'Normais'\n}\n\n// Montar a consulta SQL dinamicamente com os IDs da categoria e classes, selecionando uma frase aleatória\nmsg.topic = `\n    SELECT frase, id \n    FROM frases \n    WHERE categoria_id = ${categoriaId} \n    AND classe_id IN (${classeIds.join(\",\")})\n    AND id NOT IN (\n        SELECT frase_id \n        FROM cache_frases_temporario \n        WHERE node_id = '${nodeId}'\n    )\n    ORDER BY RAND()\n    LIMIT 1;\n`;\nmsg.classeIds = classeIds;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":240,"wires":[["e7f65c8a3fe5546e"]]},{"id":"e7f65c8a3fe5546e","type":"mysql","z":"68464e27f5fa2ffa","mydb":"028758933189ae2f","name":"Node Red MariaDB","x":210,"y":380,"wires":[["7c1b8f8b4012ae56"]]},{"id":"c860619bb667120f","type":"function","z":"68464e27f5fa2ffa","name":"Grava Temporário DB","func":"// Verifica se a frase foi retornada corretamente\nif (!msg.payload || !msg.payload[0] || !msg.payload[0].id) {\n    node.warn(\"Nenhuma frase encontrada para gravar no cache.\");\n    return null;\n}\n// Resgatar o ID da frase a partir da consulta anterior\nconst fraseId = msg.payload[0].id;\nconst nodeId = msg.nodeId;\nconst dataCriacao = new Date().toISOString().slice(0, 19).replace('T', ' ');\n\n// Montar a consulta SQL para inserir no cache_frases_temporario\nmsg.topic = `\n    INSERT INTO cache_frases_temporario (frase_id, node_id, data_criacao)\n    VALUES (${fraseId}, '${nodeId}', '${dataCriacao}');\n`;\n\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":420,"wires":[["f74690d66be8f0fd"]]},{"id":"7c1b8f8b4012ae56","type":"switch","z":"68464e27f5fa2ffa","name":"Veririca Payload Vazio","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":380,"wires":[["ccaa04013ebf3a1b"],["9e4b483a53d91651"]]},{"id":"ccaa04013ebf3a1b","type":"template","z":"68464e27f5fa2ffa","name":"Apaga temporários","field":"datareset","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"true","output":"str","x":770,"y":340,"wires":[["d2d5e8af3af98a7d"]]},{"id":"d2d5e8af3af98a7d","type":"function","z":"68464e27f5fa2ffa","name":"Deleta Temporários DB","func":"// Verificar se a consulta retornou vazia\nif (msg.datareset == \"true\") {\n    const nodeId = msg.nodeId;\n\n    // Montar a consulta SQL para deletar os registros do cache_frases_temporario com base no nodeId\n    msg.topic = `\n        DELETE FROM cache_frases_temporario\n        WHERE node_id = '${nodeId}';\n    `;\n\n    return msg;  // Executa a query de DELETE\n} else {\n    // Se a consulta não está vazia, continue o fluxo normalmente\n    return msg;  // Continua o fluxo sem alterações\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":340,"wires":[["f74690d66be8f0fd"]]},{"id":"f74690d66be8f0fd","type":"mysql","z":"68464e27f5fa2ffa","mydb":"028758933189ae2f","name":"Node Red MariaDB","x":1310,"y":380,"wires":[["9831b406ca0e10d5"]]},{"id":"9e4b483a53d91651","type":"template","z":"68464e27f5fa2ffa","name":"Frase Selecionada","field":"datareset","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"false","output":"str","x":770,"y":420,"wires":[["6dae23c6a38554d9","c860619bb667120f"]]},{"id":"3977dded91e60645","type":"api-call-service","z":"68464e27f5fa2ffa","name":"Alexa TTS","server":"31c266b3.d1ff5a","version":7,"debugenabled":false,"action":"notify.alexa_media","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"title\":\"{{frase}}\",\"message\":\"{{frase}}\",\"target\":\"{{echo}}\",\"data\":{\"type\":\"{{saida}}\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","blockInputOverrides":false,"domain":"notify","service":"alexa_media","x":890,"y":560,"wires":[["9e57006d36f8eb75"]]},{"id":"6dae23c6a38554d9","type":"function","z":"68464e27f5fa2ffa","name":"Montagem Payload Alexa","func":"if (msg.pessoa !== \" \") {\n    msg.frase = msg.pessoa + \", \" + msg.payload[0].frase   \n\n}else{\n    msg.frase = msg.payload[0].frase\n}\n\ndelete msg.topic;\n//  msg.topic = undefined;\nconst tipo_saida = env.get('saida');\nmsg.tipo_saida = tipo_saida ;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":520,"wires":[["e610a4f180ac387c"]]},{"id":"7bc9179c080b7e19","type":"trigger","z":"68464e27f5fa2ffa","name":"","op1":"on","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"reset","bytopic":"all","topic":"topic","outputs":1,"x":690,"y":560,"wires":[["849ea09fcc192c5a","3977dded91e60645"]]},{"id":"849ea09fcc192c5a","type":"delay","z":"68464e27f5fa2ffa","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":620,"wires":[["616afbc0b7a842f3"]]},{"id":"616afbc0b7a842f3","type":"template","z":"68464e27f5fa2ffa","name":"reset","field":"reset","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"reset","output":"str","x":470,"y":620,"wires":[["7bc9179c080b7e19"]]},{"id":"fae2d1f069a2e78e","type":"function","z":"68464e27f5fa2ffa","name":"Map Device ID Last_Alexa","func":"const deviceMap = {\n    //Me_escute\n    \"amzn1.ask.device.AHQ2MNK5DBRFERASV2L3CHH4WKQJDC23WBLV7EIJCJ32REUYKEYJIDC2KCLKVJSA34XFFO6WCOQ6AYFO3IDZM6SCPPO5ZT2J5LCWYXR3BTNLDVSHQMJ7HPZD66YIO4H6ZAYZFIHTTYJJOGJZD5GCLLMTVI2U7HBBVNZPDY6SG6H3U7WIC6GZ6\": \"media_player.echo_01\",\n    \"amzn1.ask.device.AHQ2MNK5DBRFERASV2L3CHH4WKQBU5YQLHWVAOGTP33GABWBBF3YHWBF4GJJ2XDQGOJWQTIEZPYL72WAAVSHE6O4H6OAOT4RVVIYRTB6UCJI5MW4JAZCIZO3I7KY3Y2WWJBEK3U2JDJ2TEBYXKZ7CRDC5PGPSOBPE3U4M63T7IO6GLQLGAHAE\": \"media_player.echo_02\",\n    \"amzn1.ask.device.AHQ2MNK5DBRFERASV2L3CHH4WKQIFBEECLWEJMF3XRYRFZ5QC7UVTCXCEFIZGTGT3KSZ6QPNRXMPTUVUEDB23G6W5D3HGOSYIEB5BV2AILOFMAX37MJ35CAWBSCGU6BHKW2WM5GBWFVALARSNGDMLJECWUTRP6MU26OFAZUIBLALA3FCWXUFS\": \"media_player.echo_03\",\n    //Me_pergunte\n    \"amzn1.ask.device.AHAHP7SUTNVREN72DQMETJXKLCO3JX7ER5EUZOQVRVIIOEQ4S7XS75GP7J2M74ODIMZD4YW74UL3OQDDXTG63V2WZHEG7QXTET3AOO26D2QH4IQ3KVYFV4UZUVDTHDCQGME4DJ47HFNIR2ZWK3TPFGC6BKZPNTFPYR3G5MVJB4GDJNR24JV4G\": \"media_player.echo_01\",\n    \"amzn1.ask.device.AHAHP7SUTNVREN72DQMETJXKLCOWG2RLJUBTKBA4M6VUBSPU3SF6ICVLALVD3EZWTX7USDBJQNCNH7IAUV2F7OU6LKXVIEB7BS2SA3XNR7YWYJID6TNXVXN7YIVGM4JO45E6LDLLCUXLV2RQ6JZMDGMEZOWA4VROVI4SIEHKOY3VJJYEDWC3E\": \"media_player.echo_02\",\n    \"amzn1.ask.device.AHAHP7SUTNVREN72DQMETJXKLCOTPE22WQNFPUCPJHMMGBMYAIJZGZQ3M5UJIWOHTFBDBKKIG6EJERTGACIHBSTHTLTJ6ECQCYHRPFGYISZL5LPX5T3VKNYS65ZO62VUJGSUP6FOGUWYX2VIJ4WS7OBY2DMQAG7PAWY6JJJ5QNPME7ZP5B72W\": \"media_player.echo_03\"\n};                   \n\nconst locationMap = {\n    \"quarto\": [\"media_player.echo_01\"],\n    \"cozinha\": [\"media_player.echo_03\"],\n    \"sala\": [\"media_player.echo_02\", \"media_player.casa_toda\"],\n    \"suite_casal\": [\"não-alocado\"],\n    \"quarto_1\": [\"não-alocado\"],\n    \"quarto_2\": [\"não-alocado\"],\n    \"banheiro_social\": [\"não-alocado\"],\n    \"hall\": [\"não-alocado\"],\n    \"escada\": [\"não-alocado\"],\n    \"banheiro_casal\": [\"não-alocado\"]\n};\n\nconst device_id = msg.payload.event.event_device_id;\nconst echo_entity = deviceMap[device_id] || \"media_player.casa_toda\";\n\nlet location = \"desconhecido\";\n\nfor (const [room, entities] of Object.entries(locationMap)) {\n    if (entities.includes(echo_entity)) {\n        location = room;\n        break;\n    }\n}\n\nmsg.last_alexa = echo_entity;\nmsg.room_name = location;\n\nmsg.payload.event.last_alexa = echo_entity;\nmsg.payload.event.room_name = location;\n\nnode.status({ fill: \"blue\", shape: \"dot\", text: `${echo_entity} → ${location}` });\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":120,"wires":[["796eb8606b69db3e"]]},{"id":"9831b406ca0e10d5","type":"function","z":"68464e27f5fa2ffa","name":"Remove SQL","func":"delete  msg.topic;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":380,"wires":[[]]},{"id":"b5066133ecf61e22","type":"change","z":"68464e27f5fa2ffa","name":"","rules":[{"t":"change","p":"last_alexa","pt":"msg","from":"unavailable","fromt":"str","to":"media_player.casa_toda","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":120,"wires":[["78e29f0334ad5e53"]]},{"id":"b0ce720b81e03006","type":"api-call-service","z":"68464e27f5fa2ffa","name":"update_last_called","server":"31c266b3.d1ff5a","version":7,"debugenabled":false,"action":"alexa_media.update_last_called","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"alexa_media","service":"update_last_called","x":210,"y":200,"wires":[["446c5ffb11c2a1f0"]]},{"id":"446c5ffb11c2a1f0","type":"api-current-state","z":"68464e27f5fa2ffa","name":"sensor.last_alexa","server":"31c266b3.d1ff5a","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.last_alexa","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":200,"wires":[["fee4d6b9ea28d8cd"]]},{"id":"c80b406b06d35cf1","type":"switch","z":"68464e27f5fa2ffa","name":"","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":120,"wires":[["fae2d1f069a2e78e"],["b0ce720b81e03006"]]},{"id":"e610a4f180ac387c","type":"switch","z":"68464e27f5fa2ffa","name":"","property":"tipo_saida","propertyType":"msg","rules":[{"t":"eq","v":"frase","vt":"str"},{"t":"eq","v":"tts","vt":"str"},{"t":"eq","v":"announce","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":520,"wires":[["9e57006d36f8eb75"],["7bc9179c080b7e19"],["7bc9179c080b7e19"]]},{"id":"9e57006d36f8eb75","type":"function","z":"68464e27f5fa2ffa","name":"Limpa Payload saída ","func":"delete msg.payload;\ndelete msg.data;\ndelete msg.classeIds;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":500,"wires":[[]]},{"id":"fee4d6b9ea28d8cd","type":"template","z":"68464e27f5fa2ffa","name":"","field":"last_called","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sensor","output":"str","x":700,"y":200,"wires":[["b5066133ecf61e22"]]},{"id":"796eb8606b69db3e","type":"template","z":"68464e27f5fa2ffa","name":"","field":"last_called","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"skill","output":"str","x":700,"y":120,"wires":[["b5066133ecf61e22"]]},{"id":"028758933189ae2f","type":"MySQLdatabase","name":"node_red_user","host":"core-mariadb","port":"3306","db":"node_red_db","tz":"","charset":"UTF8"},{"id":"31c266b3.d1ff5a","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at:","statusYear":"numeric","statusMonth":"2-digit","statusDay":"2-digit","statusHourCycle":"h23","statusTimeFormat":"h:m:s","enableGlobalContextStore":true}]
